In [44]:
try:
    spark.stop()
except:
    pass

قم بإنشاء جلسة Spark لتحميل ومعالجة البيانات:

In [45]:
from pyspark.sql import SparkSession
import os

os.environ["PYSPARK_PYTHON"] = r"c:\Users\162833\AppData\Local\miniconda3\envs\food_project\python.exe"

spark = SparkSession.builder \
    .appName("FoodDeliveryAnalytics") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .config("spark.driver.host", "127.0.0.1") \
    .getOrCreate()

استخدم spark.read لتحميل البيانات من ملفات CSV أو JSON:

In [46]:
from pyspark.sql import SparkSession

# إنشاء جلسة Spark
spark = SparkSession.builder.appName("FoodDeliveryAnalytics").getOrCreate()

# تعريف المسار الأساسي
data_path = "C:/me/food_delivery_analytics/data/data1"

# تحميل ملف CSV (zomato)
df_zomato = spark.read.csv(f"{data_path}/zomato.csv", header=True, inferSchema=True)

# تحميل ملفات JSON
df_file1 = spark.read.json(f"{data_path}/file1.json")
df_file2 = spark.read.json(f"{data_path}/file2.json")
df_file3 = spark.read.json(f"{data_path}/file3.json")
df_file4 = spark.read.json(f"{data_path}/file4.json")
df_file5 = spark.read.json(f"{data_path}/file5.json")

# تحميل ملف Excel (Country-Code.xlsx)
# نستخدم Pandas + تحويله إلى Spark DataFrame
import pandas as pd

df_country_code_pd = pd.read_excel(f"{data_path}/Country-Code.xlsx")
df_country_code_pd = df_country_code_pd.astype(str)
df_country_code = spark.createDataFrame(df_country_code_pd)

# تأكيد التحميل
df_zomato.show(3)
df_file1.show(3)
df_country_code.show(3)

+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name|Country Code|            City|             Address|            Locality|    Locality Verbose| Longitude| Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|    Le Petit Souffle|         162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|    Izakaya Kikufuji|         162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
|      6300002|Heat - Edsa Shang...|         162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...|121.056831|14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 3 rows

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|NULL|   NULL|[{{{308322}, b90e...|        17151|           20|            1|  NULL|
|NULL|   NULL|[{{{18017612}, b9...|         4748|           20|            1|  NULL|
|NULL|   NULL|[{{{18313566}, b9...|        13786|           20|            1|  NULL|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 3 rows

+------------+---------+
|Country Code|  Country|
+------------+---------+
|           1|    India|
|          14|Australia|
|          30|   Brazil|
+------------+---------+
only showing top 3 rows

هناخد دول هنا ونشتغل عليهم علشان نظبط الداتا

In [47]:
# تحميل ملفات JSON
df_file1 = spark.read.json(f"{data_path}/file1.json")
df_file2 = spark.read.json(f"{data_path}/file2.json")
df_file3 = spark.read.json(f"{data_path}/file3.json")
df_file4 = spark.read.json(f"{data_path}/file4.json")
df_file5 = spark.read.json(f"{data_path}/file5.json")

df_file1.show(3)

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|NULL|   NULL|[{{{308322}, b90e...|        17151|           20|            1|  NULL|
|NULL|   NULL|[{{{18017612}, b9...|         4748|           20|            1|  NULL|
|NULL|   NULL|[{{{18313566}, b9...|        13786|           20|            1|  NULL|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 3 rows

انا هنا اشتغلت علي الفايل بتاع json وخدت من العمود اللى اسمه المطعم وفردت الداتا اللى فيه فى جدول

In [48]:
from pyspark.sql.functions import explode, col

# قائمة تحتوي على جميع DataFrames الخاصة بملفات JSON
json_files = [df_file1, df_file2, df_file3, df_file4, df_file5]

# الأعمدة المطلوبة بعد التفكيك
columns = [
    col("restaurant.id").alias("Restaurant ID"),
    col("restaurant.name").alias("Restaurant Name"),
    col("restaurant.location.country_id").alias("Country Code"),
    col("restaurant.location.city").alias("City"),
    col("restaurant.location.address").alias("Address"),
    col("restaurant.location.locality").alias("Locality"),
    col("restaurant.location.locality_verbose").alias("Locality Verbose"),
    col("restaurant.location.longitude").alias("Longitude"),
    col("restaurant.location.latitude").alias("Latitude"),
    col("restaurant.cuisines").alias("Cuisines"),
    col("restaurant.average_cost_for_two").alias("Average Cost for two"),
    col("restaurant.currency").alias("Currency"),
    col("restaurant.has_table_booking").alias("Has Table Booking"),
    col("restaurant.has_online_delivery").alias("Has Online delivery"),
    col("restaurant.is_delivering_now").alias("Is delivering now"),
    col("restaurant.switch_to_order_menu").alias("Switch to order menu"),
    col("restaurant.price_range").alias("Price range"),
    col("restaurant.user_rating.aggregate_rating").alias("Aggregate rating"),
    col("restaurant.user_rating.rating_color").alias("Rating color"),
    col("restaurant.user_rating.rating_text").alias("Rating text"),
    col("restaurant.user_rating.votes").alias("Votes")
]

# تفكيك جميع الملفات ودمجها في DataFrame واحد
df_combined = None  # متغير لحفظ النتيجة النهائية

for i, df in enumerate(json_files):
    # تفكيك عمود المطاعم
    df_exploded = df.withColumn("restaurant", explode(col("restaurants.restaurant")))
    
    # استخراج الأعمدة المطلوبة
    df_flat = df_exploded.select(*columns)
    
    # دمج البيانات مع DataFrame النهائي
    if df_combined is None:
        df_combined = df_flat  # أول ملف يتم تعيينه مباشرة
    else:
        df_combined = df_combined.unionByName(df_flat)  # دمج الملفات الأخرى

# عرض البيانات المدمجة
df_combined.show(10, truncate=False)

+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|Restaurant Name                 |Country Code|City     |Address                                                                  |Locality                                |Locality Verbose                                 |Longitude    |Latitude     |Cuisines                                                 |Average Cost for two|Currency|Has Table Booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|308322       |Hauz Khas Social                |1           |New Delhi|9-A & 12, Hauz Khas Village, New Delhi                                   |Hauz Khas Village                       |Hauz Khas Village, New Delhi                     |77.1944706000|28.5542851000|Continental, American, Asian, North Indian               |1600                |Rs.     |1                |1                  |0                |0                   |3          |4.3             |5BA829      |Very Good  |7931 |
|18037817     |Qubitos - The Terrace Cafe      |1           |New Delhi|C-7, Vishal Enclave, Opposite Metro Pillar 417, Rajouri Garden, New Delhi|Rajouri Garden                          |Rajouri Garden, New Delhi                        |77.1177015000|28.6471325000|Thai, European, Mexican, North Indian, Chinese, Cafe     |1500                |Rs.     |1                |0                  |0                |0                   |3          |4.5             |3F7E00      |Excellent  |778  |
|312345       |The Hudson Cafe                 |1           |New Delhi|2524, 1st Floor, Hudson Lane, Delhi University-GTB Nagar, New Delhi      |Delhi University-GTB Nagar              |Delhi University-GTB Nagar, New Delhi            |77.2043172000|28.6949468000|Cafe, Italian, Continental, Chinese                      |850                 |Rs.     |0                |1                  |0                |0                   |2          |4.4             |5BA829      |Very Good  |1537 |
|307490       |Summer House Cafe               |1           |New Delhi|1st Floor, DDA Shopping Complex, Aurobindo Place, Hauz Khas, New Delhi   |Hauz Khas                               |Hauz Khas, New Delhi                             |77.2038090000|28.5525204000|Italian, Continental                                     |1850                |Rs.     |1                |0                  |0                |0                   |3          |4.1             |5BA829      |Very Good  |1823 |
|18241537     |38 Barracks                     |1           |New Delhi|M-38, Outer Circle, Connaught Place, New Delhi                           |Connaught Place                         |Connaught Place, New Delhi                       |77.2228584811|28.6330248887|North Indian, Italian, Asian, American                   |1600                |Rs.     |1                |0                  |0                |0                   |3          |4.4             |5BA829      |Very Good  |840  |
|18161577     |Spezia Bistro                   |1           |New Delhi|2525, 1st Floor, Hudson Lane, Delhi University-GTB Nagar, New Delhi      |Delhi University-GTB Nagar              |Delhi University-GTB Nagar, New Delhi            |77.2041413000|28.6948390000|Cafe, Continental, Chinese, Italian                      |900                 |Rs.     |1                |1                  |0                |0                   |2          |4.6             |3F7E00      |Excellent  |1071 |
|303960       |Manhattan Brewery & Bar Exchange|1           |Gurgaon  |1st Floor, Global Foyer Mall, Sector 43, Golf Course Road, Gurgaon       |Global Foyer Mall, Golf Course Road     |Global Foyer Mall, Golf Course Road, Gurgaon     |77.0950273000|28.4602710000|Finger Food, American, Continental, North Indian, Italian|2000                |Rs.     |0                |0                  |0                |0                   |4          |4.6             |3F7E00      |Excellent  |2093 |
|306134       |The Wine Company                |1           |Gurgaon  |Cyber Hub, DLF Cyber City, Gurgaon                                       |Cyber Hub, DLF Cyber City               |Cyber Hub, DLF Cyber City, Gurgaon               |77.0890476000|28.4962285000|Italian, European                                        |2000                |Rs.     |1                |0                  |0                |0                   |4          |2.4             |FF7800      |Poor       |2412 |
|18233593     |Farzi Cafe                      |1           |New Delhi|38/39, Level 1, Block E , Inner Circle, Connaught Place, New Delhi       |Connaught Place                         |Connaught Place, New Delhi                       |77.2214296000|28.6323984000|Modern Indian                                            |2200                |Rs.     |0                |0                  |0                |0                   |4          |4.4             |5BA829      |Very Good  |1942 |
|7528         |Indian Grill Room               |1           |Gurgaon  |315, 3rd Floor, Suncity Business Tower, Golf Course Road, Gurgaon        |Suncity Business Tower, Golf Course Road|Suncity Business Tower, Golf Course Road, Gurgaon|77.1052774000|28.4334574000|North Indian, Mughlai                                    |1800                |Rs.     |1                |1                  |0                |0                   |3          |4.5             |3F7E00      |Excellent  |1262 |
+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 10 rows

In [49]:
from pyspark.sql.functions import lit

# تأكد أن الأعمدة بنفس الترتيب في الداتا فريمين
columns = [
    "Restaurant ID", "Restaurant Name", "Country Code", "City", "Address", "Locality", "Locality Verbose",
    "Longitude", "Latitude", "Cuisines", "Average Cost for two", "Currency", "Has Table Booking",
    "Has Online delivery", "Is delivering now", "Switch to order menu", "Price range", "Aggregate rating",
    "Rating color", "Rating text", "Votes"
]

# إعادة ترتيب الأعمدة في الداتا فريم الأول
df_flat = df_flat.select(*columns)
# إعادة ترتيب الأعمدة في الداتا فريم الثاني
df_zomato = df_zomato.select(*columns)

# دمج الداتا فريمين
df_merged = df_flat.unionByName(df_zomato)

In [50]:
df_merged.show(10, truncate=False)

+-------------+------------------------------------+------------+-------+----------------------------------------------------+-----------------------+--------------------------------+--------------+-------------+---------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|Restaurant Name                     |Country Code|City   |Address                                             |Locality               |Locality Verbose                |Longitude     |Latitude     |Cuisines                         |Average Cost for two|Currency|Has Table Booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+------------------------------------+------------+-------+----------------------------------------------------+-----------------------+--------------------------------+--------------+-------------+---------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|17066603     |The Coop                            |216         |Orlando|610 W Morse Boulevard, Winter Park, FL 32789        |Winter Park            |Winter Park, Orlando            |-81.3572190000|28.5973660000|Southern, Cajun, Soul Food       |25                  |$       |0                |0                  |0                |0                   |2          |3.6             |9ACD32      |Good       |432  |
|17059541     |Maggiano's Little Italy             |216         |Orlando|9101 International Drive,Orlando, FL 32819          |I-Drive/Universal      |I-Drive/Universal, Orlando      |-81.4714470000|28.4332350000|Italian                          |50                  |$       |0                |0                  |0                |0                   |4          |4.4             |5BA829      |Very Good  |886  |
|17064405     |Tako Cheena by Pom Pom              |216         |Orlando|932 North Mills Avenue, Orlando, FL 32803           |Mills 50               |Mills 50, Orlando               |-81.3645470000|28.5578450000|Asian, Latin American, Vegetarian|10                  |$       |0                |0                  |0                |0                   |1          |4.4             |5BA829      |Very Good  |570  |
|17057797     |Bosphorous Turkish Cuisine          |216         |Orlando|108 S Park Ave, Winter Park, FL 32789               |Winter Park            |Winter Park, Orlando            |-81.3508344000|28.5976271000|Mediterranean, Turkish           |40                  |$       |0                |0                  |0                |0                   |3          |4.2             |5BA829      |Very Good  |568  |
|17057591     |Bahama Breeze Island Grille         |216         |Orlando|8849 International Drive, Orlando, FL 32819         |I-Drive/Universal      |I-Drive/Universal, Orlando      |-81.4715260000|28.4370650000|Caribbean                        |45                  |$       |0                |0                  |0                |0                   |3          |4.3             |5BA829      |Very Good  |910  |
|17064266     |Hawkers Asian Street Fare           |216         |Orlando|1103 N Mills Avenue, Orlando, FL 32803              |Mills 50               |Mills 50, Orlando               |-81.3643470000|28.5605050000|Asian, Thai                      |35                  |$       |0                |0                  |0                |0                   |3          |4.6             |3F7E00      |Excellent  |1293 |
|17060516     |Seasons 52 Fresh Grill              |216         |Orlando|7700 West Sand Lake Road, Orlando, FL 32819         |Restaurant Row         |Restaurant Row, Orlando         |-81.4879780000|28.4481750000|American                         |60                  |$       |0                |0                  |0                |0                   |4          |4.4             |5BA829      |Very Good  |1685 |
|17060320     |Raglan Road Irish Pub and Restaurant|216         |Orlando|1640 E Buena Vista Drive, Lake Buena Vista, FL 32830|Disney: Downtown Disney|Disney: Downtown Disney, Orlando|-81.5177250000|28.3713380000|Irish                            |50                  |$       |0                |0                  |0                |0                   |4          |4.3             |5BA829      |Very Good  |782  |
|17059060     |Hillstone                           |216         |Orlando|215 South Orlando Avenue, Winter Park, FL 32789     |Winter Park            |Winter Park, Orlando            |-81.3652600000|28.5966820000|                                 |40                  |$       |0                |0                  |0                |0                   |3          |4.4             |5BA829      |Very Good  |1158 |
|17059012     |Hollerbach's Willow Tree Café       |216         |Orlando|205 East 1st Street, Sanford, FL 32771              |Sanford                |Sanford, Orlando                |-81.2668710000|28.8116530000|German                           |40                  |$       |0                |0                  |0                |0                   |3          |4.8             |3F7E00      |Excellent  |1699 |
+-------------+------------------------------------+------------+-------+----------------------------------------------------+-----------------------+--------------------------------+--------------+-------------+---------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 10 rows

لعرض انواع الاعمدة

In [51]:
df_merged.printSchema()

root
 |-- Restaurant ID: string (nullable = true)
 |-- Restaurant Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Locality Verbose: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Cuisines: string (nullable = true)
 |-- Average Cost for two: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Has Table Booking: string (nullable = true)
 |-- Has Online delivery: string (nullable = true)
 |-- Is delivering now: string (nullable = true)
 |-- Switch to order menu: string (nullable = true)
 |-- Price range: string (nullable = true)
 |-- Aggregate rating: string (nullable = true)
 |-- Rating color: string (nullable = true)
 |-- Rating text: string (nullable = true)
 |-- Votes: string (nullable = true)

In [52]:
from pyspark.sql.functions import col

df_merged = df_merged \
    .withColumn("Restaurant ID", col("Restaurant ID").cast("int")) \
    .withColumn("Country Code", col("Country Code").cast("int")) \
    .withColumn("Longitude", col("Longitude").cast("double")) \
    .withColumn("Latitude", col("Latitude").cast("double")) \
    .withColumn("Average Cost for two", col("Average Cost for two").cast("int")) \
    .withColumn("Price range", col("Price range").cast("int")) \
    .withColumn("Aggregate rating", col("Aggregate rating").cast("double")) \
    .withColumn("Votes", col("Votes").cast("int"))
df_merged.printSchema()  # تأكيد التغييرات في الأنواع

root
 |-- Restaurant ID: integer (nullable = true)
 |-- Restaurant Name: string (nullable = true)
 |-- Country Code: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Locality Verbose: string (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Cuisines: string (nullable = true)
 |-- Average Cost for two: integer (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Has Table Booking: string (nullable = true)
 |-- Has Online delivery: string (nullable = true)
 |-- Is delivering now: string (nullable = true)
 |-- Switch to order menu: string (nullable = true)
 |-- Price range: integer (nullable = true)
 |-- Aggregate rating: double (nullable = true)
 |-- Rating color: string (nullable = true)
 |-- Rating text: string (nullable = true)
 |-- Votes: integer (nullable = true)

In [53]:
df_final = df_merged
df_final.show()

+-------------+--------------------+------------+-------+--------------------+--------------------+--------------------+-----------+----------+--------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name|Country Code|   City|             Address|            Locality|    Locality Verbose|  Longitude|  Latitude|            Cuisines|Average Cost for two|Currency|Has Table Booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+------------+-------+--------------------+--------------------+--------------------+-----------+----------+--------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|     17066603|            The Coop|         216|Orlando|610 W Morse Boule...|         Winter Park|Winter Park, Orlando| -81.357219| 28.597366|Southern, Cajun, ...|                  25|       $|                0|                  0|                0|                   0|          2|             3.6|      9ACD32|       Good|  432|
|     17059541|Maggiano's Little...|         216|Orlando|9101 Internationa...|   I-Drive/Universal|I-Drive/Universal...| -81.471447| 28.433235|             Italian|                  50|       $|                0|                  0|                0|                   0|          4|             4.4|      5BA829|  Very Good|  886|
|     17064405|Tako Cheena by Po...|         216|Orlando|932 North Mills A...|            Mills 50|   Mills 50, Orlando| -81.364547| 28.557845|Asian, Latin Amer...|                  10|       $|                0|                  0|                0|                   0|          1|             4.4|      5BA829|  Very Good|  570|
|     17057797|Bosphorous Turkis...|         216|Orlando|108 S Park Ave, W...|         Winter Park|Winter Park, Orlando|-81.3508344|28.5976271|Mediterranean, Tu...|                  40|       $|                0|                  0|                0|                   0|          3|             4.2|      5BA829|  Very Good|  568|
|     17057591|Bahama Breeze Isl...|         216|Orlando|8849 Internationa...|   I-Drive/Universal|I-Drive/Universal...| -81.471526| 28.437065|           Caribbean|                  45|       $|                0|                  0|                0|                   0|          3|             4.3|      5BA829|  Very Good|  910|
|     17064266|Hawkers Asian Str...|         216|Orlando|1103 N Mills Aven...|            Mills 50|   Mills 50, Orlando| -81.364347| 28.560505|         Asian, Thai|                  35|       $|                0|                  0|                0|                   0|          3|             4.6|      3F7E00|  Excellent| 1293|
|     17060516|Seasons 52 Fresh ...|         216|Orlando|7700 West Sand La...|      Restaurant Row|Restaurant Row, O...| -81.487978| 28.448175|            American|                  60|       $|                0|                  0|                0|                   0|          4|             4.4|      5BA829|  Very Good| 1685|
|     17060320|Raglan Road Irish...|         216|Orlando|1640 E Buena Vist...|Disney: Downtown ...|Disney: Downtown ...| -81.517725| 28.371338|               Irish|                  50|       $|                0|                  0|                0|                   0|          4|             4.3|      5BA829|  Very Good|  782|
|     17059060|           Hillstone|         216|Orlando|215 South Orlando...|         Winter Park|Winter Park, Orlando|  -81.36526| 28.596682|                    |                  40|       $|                0|                  0|                0|                   0|          3|             4.4|      5BA829|  Very Good| 1158|
|     17059012|Hollerbach's Will...|         216|Orlando|205 East 1st Stre...|             Sanford|    Sanford, Orlando| -81.266871| 28.811653|              German|                  40|       $|                0|                  0|                0|                   0|          3|             4.8|      3F7E00|  Excellent| 1699|
|     17060869|     Texas de Brazil|         216|Orlando|5259 Internationa...|   I-Drive/Universal|I-Drive/Universal...|-81.4510725|28.4676808|    Brazilian, Steak|                 100|       $|                0|                  0|                0|                   0|          4|             4.6|      3F7E00|  Excellent| 2324|
|     17061231|    The Ravenous Pig|         216|Orlando|565 W Fairbanks A...|         Winter Park|Winter Park, Orlando| -81.356024| 28.593297|            Pub Food|                  40|       $|                0|                  0|                0|                   0|          3|             4.4|      5BA829|  Very Good| 1998|
|     17058534|    Earl of Sandwich|         216|Orlando|1750 E Buena Vist...|Disney: Downtown ...|Disney: Downtown ...| -81.514608| 28.372858|American, Sandwic...|                  35|       $|                0|                  0|                0|                   0|          3|             4.7|      3F7E00|  Excellent| 1341|
|     17057925|    Café Tu Tu Tango|         216|Orlando|8625 Internationa...|   I-Drive/Universal|I-Drive/Universal...| -81.469986| 28.440344| New American, Tapas|                  40|       $|                0|                  0|                0|                   0|          3|             4.6|      3F7E00|  Excellent| 1293|
|     17064031|Tibby's New Orlea...|         216|Orlando|2203 Aloma Avenue...|         Winter Park|Winter Park, Orlando| -81.322631| 28.601088|               Cajun|                  25|       $|                0|                  0|                0|                   0|          2|             4.7|      3F7E00|  Excellent| 1412|
|     17061237|Cevíche Tapas Bar...|         216|Orlando|125 West Church S...|Church Street Dis...|Church Street Dis...| -81.381077| 28.540432|      Spanish, Tapas|                  40|       $|                0|                  0|                0|                   0|          3|             4.4|      5BA829|  Very Good|  981|
|     17061253| Ethos Vegan Kitchen|         216|Orlando|601-B South New Y...|         Winter Park|Winter Park, Orlando| -81.352921| 28.592857|American, Breakfa...|                  25|       $|                0|                  0|                0|                   0|          2|             4.4|      5BA829|  Very Good|  797|
|     17061296|Pom Pom's Teahous...|         216|Orlando|67 North Bumby Av...|   The Milk District|The Milk District...| -81.351467| 28.543571|American, Sandwic...|                  25|       $|                0|                  0|                0|                   0|          2|             4.9|      3F7E00|  Excellent| 1457|
|     17061205|     Yellow Dog Eats|         216|Orlando|1236 Hempel Avenu...|          Windermere| Windermere, Orlando| -81.522987| 28.527592|American, BBQ, Sa...|                  35|       $|                0|                  0|                0|                   0|          3|             4.9|      3F7E00|  Excellent| 1252|
|     17057397|              'Ohana|         216|Orlando|1600 Seven Seas D...|   Disney World Area|Disney World Area...| -81.585226| 28.405437|            Hawaiian|                  45|       $|                0|                  0|                0|                   0|          3|             4.5|      3F7E00|  Excellent| 1151|
+-------------+--------------------+------------+-------+--------------------+--------------------+--------------------+-----------+----------+--------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 20 rows

In [56]:
# ----------------------------------------
# إعداد بيئة العمل وإنشاء جلسة Spark
# ----------------------------------------
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, col
import pandas as pd
import os

# تحديد مسار Python الخاص بـ PySpark (مناسب لبيئة conda الخاصة بك)
os.environ["PYSPARK_PYTHON"] = r"c:\Users\162833\AppData\Local\miniconda3\envs\food_project\python.exe"

# إنشاء جلسة Spark
spark = SparkSession.builder \
    .appName("FoodDeliveryAnalytics") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .config("spark.driver.host", "127.0.0.1") \
    .getOrCreate()

# ----------------------------------------
# تحميل البيانات من الملفات
# ----------------------------------------

# المسار الرئيسي للبيانات
data_path = "C:/me/food_delivery_analytics/data/data1"

# تحميل ملف CSV (بيانات Zomato)
df_zomato = spark.read.csv(f"{data_path}/zomato.csv", header=True, inferSchema=True)

# تحميل جميع ملفات JSON (file1 إلى file5)
json_files = [f"{data_path}/file{i}.json" for i in range(1, 6)]
df_json_combined = None

for file in json_files:
    df_json = spark.read.json(file)
    # استخراج وتفكيك بيانات المطاعم
    df_exploded = df_json.withColumn("restaurant", explode(col("restaurants.restaurant")))
    
    # تسطيح البيانات المطلوبة
    df_flat = df_exploded.select(
        col("restaurant.id").alias("Restaurant ID"),
        col("restaurant.name").alias("Restaurant Name"),
        col("restaurant.location.country_id").alias("Country Code"),
        col("restaurant.location.city").alias("City"),
        col("restaurant.location.address").alias("Address"),
        col("restaurant.location.locality").alias("Locality"),
        col("restaurant.location.locality_verbose").alias("Locality Verbose"),
        col("restaurant.location.longitude").alias("Longitude"),
        col("restaurant.location.latitude").alias("Latitude"),
        col("restaurant.cuisines").alias("Cuisines"),
        col("restaurant.average_cost_for_two").alias("Average Cost for two"),
        col("restaurant.currency").alias("Currency"),
        col("restaurant.has_table_booking").alias("Has Table Booking"),
        col("restaurant.has_online_delivery").alias("Has Online delivery"),
        col("restaurant.is_delivering_now").alias("Is delivering now"),
        col("restaurant.switch_to_order_menu").alias("Switch to order menu"),
        col("restaurant.price_range").alias("Price range"),
        col("restaurant.user_rating.aggregate_rating").alias("Aggregate rating"),
        col("restaurant.user_rating.rating_color").alias("Rating color"),
        col("restaurant.user_rating.rating_text").alias("Rating text"),
        col("restaurant.user_rating.votes").alias("Votes"),
    )

    # دمج كل ملفات JSON في DataFrame واحد
    df_json_combined = df_flat if df_json_combined is None else df_json_combined.unionByName(df_flat)

# ----------------------------------------
# تحميل ملف Excel الخاص بـ Country Codes
# ----------------------------------------
df_country_code_pd = pd.read_excel(f"{data_path}/Country-Code.xlsx").astype(str)
df_country_code = spark.createDataFrame(df_country_code_pd)

# ----------------------------------------
# توحيد الأعمدة بين zomato وملفات JSON
# ----------------------------------------

columns = [
    "Restaurant ID", "Restaurant Name", "Country Code", "City", "Address", "Locality", "Locality Verbose",
    "Longitude", "Latitude", "Cuisines", "Average Cost for two", "Currency", "Has Table Booking",
    "Has Online delivery", "Is delivering now", "Switch to order menu", "Price range", "Aggregate rating",
    "Rating color", "Rating text", "Votes"
]

# التأكد من ترتيب الأعمدة
df_zomato = df_zomato.select(*columns)
df_json_combined = df_json_combined.select(*columns)

# دمج بيانات JSON مع بيانات CSV
df_merged = df_json_combined.unionByName(df_zomato)

# ----------------------------------------
# تحويل أنواع البيانات حسب الاستخدام
# ----------------------------------------

df_merged = df_merged \
    .withColumn("Restaurant ID", col("Restaurant ID").cast("int")) \
    .withColumn("Country Code", col("Country Code").cast("int")) \
    .withColumn("Longitude", col("Longitude").cast("double")) \
    .withColumn("Latitude", col("Latitude").cast("double")) \
    .withColumn("Average Cost for two", col("Average Cost for two").cast("int")) \
    .withColumn("Price range", col("Price range").cast("int")) \
    .withColumn("Aggregate rating", col("Aggregate rating").cast("double")) \
    .withColumn("Votes", col("Votes").cast("int"))

# ----------------------------------------
# عرض النتائج النهائية
# ----------------------------------------

df_merged.printSchema()
df_merged.show(10, truncate=False)

root
 |-- Restaurant ID: integer (nullable = true)
 |-- Restaurant Name: string (nullable = true)
 |-- Country Code: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Locality Verbose: string (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Cuisines: string (nullable = true)
 |-- Average Cost for two: integer (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Has Table Booking: string (nullable = true)
 |-- Has Online delivery: string (nullable = true)
 |-- Is delivering now: string (nullable = true)
 |-- Switch to order menu: string (nullable = true)
 |-- Price range: integer (nullable = true)
 |-- Aggregate rating: double (nullable = true)
 |-- Rating color: string (nullable = true)
 |-- Rating text: string (nullable = true)
 |-- Votes: integer (nullable = true)

+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|Restaurant Name                 |Country Code|City     |Address                                                                  |Locality                                |Locality Verbose                                 |Longitude    |Latitude     |Cuisines                                                 |Average Cost for two|Currency|Has Table Booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|308322       |Hauz Khas Social                |1           |New Delhi|9-A & 12, Hauz Khas Village, New Delhi                                   |Hauz Khas Village                       |Hauz Khas Village, New Delhi                     |77.1944706   |28.5542851   |Continental, American, Asian, North Indian               |1600                |Rs.     |1                |1                  |0                |0                   |3          |4.3             |5BA829      |Very Good  |7931 |
|18037817     |Qubitos - The Terrace Cafe      |1           |New Delhi|C-7, Vishal Enclave, Opposite Metro Pillar 417, Rajouri Garden, New Delhi|Rajouri Garden                          |Rajouri Garden, New Delhi                        |77.1177015   |28.6471325   |Thai, European, Mexican, North Indian, Chinese, Cafe     |1500                |Rs.     |1                |0                  |0                |0                   |3          |4.5             |3F7E00      |Excellent  |778  |
|312345       |The Hudson Cafe                 |1           |New Delhi|2524, 1st Floor, Hudson Lane, Delhi University-GTB Nagar, New Delhi      |Delhi University-GTB Nagar              |Delhi University-GTB Nagar, New Delhi            |77.2043172   |28.6949468   |Cafe, Italian, Continental, Chinese                      |850                 |Rs.     |0                |1                  |0                |0                   |2          |4.4             |5BA829      |Very Good  |1537 |
|307490       |Summer House Cafe               |1           |New Delhi|1st Floor, DDA Shopping Complex, Aurobindo Place, Hauz Khas, New Delhi   |Hauz Khas                               |Hauz Khas, New Delhi                             |77.203809    |28.5525204   |Italian, Continental                                     |1850                |Rs.     |1                |0                  |0                |0                   |3          |4.1             |5BA829      |Very Good  |1823 |
|18241537     |38 Barracks                     |1           |New Delhi|M-38, Outer Circle, Connaught Place, New Delhi                           |Connaught Place                         |Connaught Place, New Delhi                       |77.2228584811|28.6330248887|North Indian, Italian, Asian, American                   |1600                |Rs.     |1                |0                  |0                |0                   |3          |4.4             |5BA829      |Very Good  |840  |
|18161577     |Spezia Bistro                   |1           |New Delhi|2525, 1st Floor, Hudson Lane, Delhi University-GTB Nagar, New Delhi      |Delhi University-GTB Nagar              |Delhi University-GTB Nagar, New Delhi            |77.2041413   |28.694839    |Cafe, Continental, Chinese, Italian                      |900                 |Rs.     |1                |1                  |0                |0                   |2          |4.6             |3F7E00      |Excellent  |1071 |
|303960       |Manhattan Brewery & Bar Exchange|1           |Gurgaon  |1st Floor, Global Foyer Mall, Sector 43, Golf Course Road, Gurgaon       |Global Foyer Mall, Golf Course Road     |Global Foyer Mall, Golf Course Road, Gurgaon     |77.0950273   |28.460271    |Finger Food, American, Continental, North Indian, Italian|2000                |Rs.     |0                |0                  |0                |0                   |4          |4.6             |3F7E00      |Excellent  |2093 |
|306134       |The Wine Company                |1           |Gurgaon  |Cyber Hub, DLF Cyber City, Gurgaon                                       |Cyber Hub, DLF Cyber City               |Cyber Hub, DLF Cyber City, Gurgaon               |77.0890476   |28.4962285   |Italian, European                                        |2000                |Rs.     |1                |0                  |0                |0                   |4          |2.4             |FF7800      |Poor       |2412 |
|18233593     |Farzi Cafe                      |1           |New Delhi|38/39, Level 1, Block E , Inner Circle, Connaught Place, New Delhi       |Connaught Place                         |Connaught Place, New Delhi                       |77.2214296   |28.6323984   |Modern Indian                                            |2200                |Rs.     |0                |0                  |0                |0                   |4          |4.4             |5BA829      |Very Good  |1942 |
|7528         |Indian Grill Room               |1           |Gurgaon  |315, 3rd Floor, Suncity Business Tower, Golf Course Road, Gurgaon        |Suncity Business Tower, Golf Course Road|Suncity Business Tower, Golf Course Road, Gurgaon|77.1052774   |28.4334574   |North Indian, Mughlai                                    |1800                |Rs.     |1                |1                  |0                |0                   |3          |4.5             |3F7E00      |Excellent  |1262 |
+-------------+--------------------------------+------------+---------+-------------------------------------------------------------------------+----------------------------------------+-------------------------------------------------+-------------+-------------+---------------------------------------------------------+--------------------+--------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 10 rows